.radio {
  min-width: 80px;
  overflow-x: hidden;
}
.radio .oval {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: solid 2px #54314e;
  border-radius: 50%;
  position: relative;
}
.radio .label {
  position: relative;
  left: 35px;
  top: 4px;
  height: 30px;
}
.radio .oval .oval{
  display: none;
}
.radio.checked .oval {
  border: solid 2px #54314e;
}

.radio.checked .oval .oval {
  width: 12px;
  height: 12px;
  background-color: #54314e;
  border: solid 2px #54314e;
  border-radius: 50%;
  position: absolute;
  margin-left: 25%;
  margin-top: 25%;
  display: block;
}

.radio.disabled .oval {
  border: solid 2px #e2e2e2;
}

.radio.checked.disabled .oval .oval {
  background-color: #e2e2e2;
  border: solid 2px #e2e2e2;
}
