.container {
  min-width: 80px;
  overflow-x: hidden;
}
.oval {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: top;
  border: .2rem solid #3f51b5;
  border-radius: 50%;
  cursor: pointer;
}
.oval.disabled {
  border-color: #e2e2e2;
}
.oval.checked.disabled::before {
  background-color: #e2e2e2;
}
.oval.checked::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #3f51b5;
  border-radius: 50%;
  transform: scale(.65);
}
.label {
  display: inline-block;
  padding-left: 0.5rem;
  /*font-size: 1.4rem;*/
  line-height: 1.5rem;
  white-space: nowrap;
  vertical-align: top;
}
